.show-product ul li{
    flex: 0 1 18%;
    border: 0.1rem solid black;
}

.box-product{
    display: flex;
    flex-direction: column;
    width: 100%;
    box-shadow: 
    rgba(0, 0, 0, 0.25) 0px 54px 55px, 
    rgba(0, 0, 0, 0.12) 0px -12px 30px, 
    rgba(0, 0, 0, 0.12) 0px 4px 6px, 
    rgba(0, 0, 0, 0.17) 0px 12px 13px, 
    rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.product-image{
    width: 100%;
}

.box-product-detail{
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}

.product-detail-price{
    font-size: 16px;
    line-height: 2.19;
    color: var(--black-color);
}

.product-detail-heart{
    font-size: 16px;
    line-height: 2.19;
    color: var(--brownish-grey);
}

.product-detail-heart i{
    color: orange;
}

@media (max-width: 1200px){
    .show-product ul li{
        flex: 0 1 20%;
    }
    .product-detail-price{
        font-size: 15px;
    }
    
    .product-detail-heart{
        font-size: 15px;
    }
}

@media (max-width: 992px){
    .show-product ul li{
        flex: 0 1 22%;
    }
    .product-detail-price{
        font-size: 14px;
    }
    
    .product-detail-heart{
        font-size: 14px;
    }
}

@media (max-width: 768px){
    .show-product ul li{
        flex: 0 1 24%;
    }
    .product-detail-price{
        font-size: 13px;
    }
    .product-detail-heart{
        font-size: 13px;
    }
}