html{
    font-size: 62.5%; /* 16px*62.5%=10px=1rem */
    box-sizing: border-box;
}

body{
    font-family: Montserrat;
    height: 100vh;
    margin: 0;
    padding: 0;
    line-height: 30px;
}

/* React */
#root{
    height: 100%;
}

:root{
    --white-color: #FFFFFF;
    --black-color: #1A1A1A;
    --red-color: #EA4913;
    --orange-color: #FFB225;
    --yellow-color: #FCCB05;
    --green-color: #00833F;
    --blue-color: #245FC5;
    --silver-color: #CCC8C6;
    --brown-color: #666666;
}

/* Command */
li{
    list-style-type: none; 
}

a{
    text-decoration: none;
}

.App{
    display: grid;
    grid-template-areas: 
    "header"
    "main"
    "footer";
    grid-template-columns: 1fr; /* Cột: 1*/
    grid-template-rows: auto 1fr auto; /* Hàng: 3 Header, Main, Footer*/
    height: 100%;
    overflow: auto;
}

/* Header */
.header-website{
    grid-area: header;
    position: relative;
    background-color: var(--black-color);
    color: var(--white-color);
}

/* Main */
.main-website{
    grid-area: main;
    position: relative;
    display: block;
}

/* Footer */
.footer-website{
    grid-area: footer;
    position: relative;
    background-color: var(--white-color);
    color: var(--black-color);
}

